.body-button {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    color: blueviolet !important;
    border-color: grey !important;
    padding: 0.5rem 0.75rem;
}

.body-button:hover {
    color: blue !important;
    text-decoration: none !important;
    background-color: lightblue !important;
    border-color: blueviolet !important;
}

.project-name {
    font-size: 4rem !important;
}

.project-tagline {
    margin-top: 0 !important;
}

p {
    color: black !important;
}

ul {
    color: black !important;
}

kbd {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 0.8rem !important;
    background-color: lightblue !important;
    padding: 6px !important;
    border: none !important;
    box-shadow: none !important;
}

body {
    background-image: url("back.png");

}

.card {
    background-color: white;
    padding: 25px;
    transition: 0.4s;
    margin-bottom: 20px;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}

.main-content {
    font-size: 0.9rem !important;
}

details {
    margin-top: 1rem;
    padding: 0;
}

details summary::-webkit-details-marker {
    display:none;
}